<!doctype html>
<html lang="en" ng-app="AnimateApp">

<head>
  <meta charset="utf-8">
  <title>Day 9 App</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-cloak ng-controller="AnimateCtrl as ctrl">
  <!-- <div> {{ ctrl.helloworld }}</div> -->
  
  <!-- Eg 1 Square to circle by hover -->
  <div class="container">
    <div class="box rotate">
    </div>
  </div>
  <br>
  <!-- Example 2 Square to circle by checkbox -->
  <div class="container">
    <input type="checkbox" ng-model="ctrl.boxClass" />
    <div class="box rotate" ng-class="{'box': ctrl.boxClass, 'circle': !ctrl.boxClass}">
    </div>
  </div>

  <!-- Example 3 Square to triangle by checkbox -->
  <div class="container">
    <input type="checkbox" ng-model="ctrl.triangleClass"/>
    <div class="box rotate" ng-class="{'box': ctrl.boxClass, 'triangle': ctrl.triangleClass }">
    </div>
  </div>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <!-- <script src="js/index.js"></script> -->
  <script src="app/app.module.js"></script>
  <script src="app/animate.controller.js"></script>
</body>

</html>