.box {
  margin: 50px auto;
  background: green;
  width: 150px;
  height: 150px;
}

.box:hover {
  transform: rotate(360deg);
  background: purple;
  border-radius: 50%;
}

.circle {
  transform: rotate(360deg);
  background: purple;
  border-radius: 50%;
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.triangle {
  transform: rotate(360deg);
  background: white;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid red;
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  transition: all 1s ease-in-out;
}

